#root {
    margin: 0 auto;
    background: linear-gradient(to bottom, #03080f, #163665);
    font-family: Chivo;
  }

  @keyframes fadeInUp {
    0% { opacity: 0;  transform: translateY(25px);}
    100% { opacity: 1; transform: translateY(0px);}
  }
  
  p {
    color:white;
    font-size: 1em;
  }

  .body {
    color:white;
    font-size: 1em;
  }

  .fadeInUp{
    animation: fadeInUp 1s;
  }
  
  .about-main-grid {
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd';
    grid-row-gap: 20px;
    padding-bottom: 75px;
  }
  
  .a{
    overflow: hidden;
    display: grid;
    align-self: center;
    justify-items: center;
  }
  
  .these{
    width: 20%;
    opacity: 1;
    font-family: Chivo;
    font-size: 2.5em;
    max-width: 70%;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }

  .gallery{
    background: url("https://picsum.photos/200/300") repeat-x;
    height: 500px;
    width: 5076px; /* The image width times 3 */
    grid-column: 1;
    grid-row: 1;
    opacity: 0.2;
    animation: slide 60s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-1692px); /* The image width */
    }
  }
  
  .green-span{
    color: #5EBC91;
    font-weight: bold;
  }
  
  .b{
    width: 75%;
    display: grid;
    align-self: center;
  }
  
  .c{
    display: grid;
    align-self: center;
    justify-items: center;
  }
  
  .explore{
    background-color: #28B876;
    width: 296px;
    height: 37px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18;
    color: white;
    border: none;
    text-align: center;
    padding: 7px 0;
    text-decoration: none;
  }

  .explore:hover, .explore:active {
    background-color: #5EBC91;
  }
  
  .d{
    width: 75%;
    display: grid;
    align-self: center;
  }
  
  .f{
    display: grid;
    grid-template-areas: 
    'g h'
  }
  
  .g{
    display: grid;
    align-self: center;
    grid-template-areas: 
    'i'
    'j';
    grid-row-gap: 25px;
  }
  
  .i{
    width: 95%;
  }
  
  .j{
    width: 95%;
  }
  
  .about-p{
    text-align: left;
    font-family: 'Source Serif 4';
    font-size: 4em;
    font-weight: bold;
  }
  
  .guidon{
    font-weight: bold;
    font-size: 1.6em;
  }