main.general-container {
  padding-top: 40px;
  padding-bottom: 64px;
}

main .filters-group {
  margin: 0 0 48px;
}

main .filters-group .categories {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
  row-gap: 8px;
}

main .filters-group .categories .categ {
  padding: 4px 12px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffffcc;
  background-color: transparent;

  color: #ffffffcc;
  font-size: var(--body-s-font-size);
  /* font-weight: 500; */

  cursor: pointer;
  transition: 0.3s;
}

main .filters-group .categories .categ.active {
  color: #091426;
  background-color: white;
  border-color: white;
}
