header {
  padding: 8px 0;
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  z-index: 20;
}

header .general-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 36px;
}

header nav {
  display: flex;
  flex-flow: nowrap;
  align-items: center;

  column-gap: 40px;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav a.active {
  font-weight: bold;
  text-decoration: underline 2px solid white;
  text-underline-offset: 6px;
}
