footer {
  margin-top: auto;
  border-top: 4px solid var(--dd-green);
  background: linear-gradient(90deg, #1e3250, #06142e);

  color: white;
}

footer .content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 80px;

  padding: 64px 0 40px;
}

footer .content .logo-desc .logo-container {
  margin: 0 0 40px;
  display: block;
}

footer .content .logo-desc .logo {
  width: 100%;
  height: auto;
}

footer .content .more {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  width: fit-content;
  justify-self: center;
}

footer .content .more .heading {
  font-weight: bold;
  text-transform: uppercase;
}

footer .content .more a {
  text-decoration: none;
  color: white;
}

footer .content .newsletter-group .subscribe {
  margin: 0 0 8px;
}

footer .content .newsletter-group form {
  border: 1px solid white;
  border-radius: 4px;
  padding-left: 12px;
  margin: 0 0 24px;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;
}

footer .content .newsletter-group form input[type="text"] {
  flex-grow: 1;

  border: none;
  background-color: transparent;

  color: white;
}

footer .content .newsletter-group form input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .content .newsletter-group form input[type="text"]:focus {
  outline: none;
}

footer .content .newsletter-group form input[type="submit"] {
  background-color: white;
  border: none;

  color: var(--gdn-blue);
  font-size: var(--body-s-font-size);
  font-weight: bold;

  padding: 12px 16px;
}

footer .content .newsletter-group .social-links {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
}

footer .content .newsletter-group .social-links img {
  width: 24px;
  height: 24px;
}

footer .credits {
  border-top: 1px solid white;
  padding: 24px;

  text-align: center;
}

@media screen and (max-width: 1200px) {
  footer .content {
    padding: 56px 0 38px;
    column-gap: 60px;
  }
}

@media screen and (max-width: 992px) {
  footer .content {
    padding: 48px 0 36px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  footer .content {
    padding: 40px 0 34px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info more" "sub more";
    row-gap: 32px;
  }

  footer .content .logo-desc {
    grid-area: info;
  }

  footer .content .more {
    grid-area: more;
  }

  footer .content .newsletter-group {
    grid-area: sub;
  }

  footer .content .newsletter-group .subscribe {
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  footer .content {
    padding: 32px 0;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "info" "more" "sub";
  }

  footer .content .logo-desc .logo-container {
    margin: 0 0 16px;
  }

  footer .content .more {
    justify-self: flex-start;
  }
}
