.focus-card {
  color: white;

  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.25));
  border-radius: 4px;

  grid-column: 1 / -1;
}

.focus-card.focus-1,
.focus-card.focus-2 {
  display: none;
}

.focus-card.focus-3 {
  display: block;
}

.focus-card .content {
  padding: 56px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background-size: cover !important;
  background-position: center !important;

  position: relative;
}

.focus-card .gradient-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background: linear-gradient(to right, #001e4be8 30%, #00153400 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.focus-card .content > *:not(.gradient-tint) {
  position: relative;
  z-index: 6;
}

.focus-card .heading {
  margin-left: 1rem;
}

.focus-card .title {
  font-family: "Tiempos Headline";
  width: 75%;
  margin: 0 0 20px;
  line-height: 120%;
}

.focus-card .date {
  color: #ffffffb2;

  margin: 0 0 8px;
}

.focus-card .desc {
  font-size: var(--body-m-font-size);

  width: 60%;
  margin: 0 0 40px;
}

.focus-card .content .links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 32px;
}

.focus-card .content .links .view {
  color: white;
  text-decoration: none;
  font-size: var(--body-m-font-size);
  font-weight: bold;
  text-align: center;

  padding: 8px 80px;
  background-color: var(--dd-green);
  border-radius: 40px;
}

.focus-card .content .links .socials {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
}

.focus-card .footer {
  padding: 16px 56px;
  background-color: #061020;

  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr;
  column-gap: 24px;
  row-gap: 8px;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.focus-card .footer .key {
  font-weight: bold;
}

.focus-card .footer .value {
  color: #e4e4e4;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .focus-card.focus-1,
  .focus-card.focus-3 {
    display: none;
  }

  .focus-card.focus-2 {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .focus-card.focus-2,
  .focus-card.focus-3 {
    display: none;
  }

  .focus-card.focus-1 {
    display: block;
  }

  .focus-card .content .links {
    justify-content: space-between;
  }

  .focus-card .content .links .view {
    flex-grow: 1;
    max-width: 300px;
    padding: 4px 16px;
    font-size: var(--body-font-size);
  }
}
