#home #hero {
  /* background-color: black; */

  min-height: 640px;
  width: 100%;

  position: relative;

  display: flex;
  flex-flow: column nowrap;
}

#home #hero .articles {
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  align-items: end;
  height: 100%;

  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
}

#home #hero .articles::-webkit-scrollbar {
  display: none;
}

#home #hero .articles.snap {
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

#home #hero .articles .panel {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  padding: 100px 0 80px;

  background-size: cover !important;
  background-position: center !important;

  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  position: relative;
}

#home #hero .articles .panel .gradient-tint {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  /* background: linear-gradient(
    90deg,
    #001b43 10%,
    #0e2f628c 45%,
    #153a7100 60%,
    #1c448000 100%
  ); */
  background: linear-gradient(
    90deg,
    #001b43ff 10%,
    #0e2f628c 35%,
    #1c448000 60%
  );
  /* background: linear-gradient(90deg, #000000a0 30%, #00000000 60%); */
  /* background: linear-gradient(90deg, #000000a0 40%, #00000000 100%); */
  /* background: linear-gradient(
    90deg,
    #000000c0 0%,
    #000000a0 40%,
    #00000000 100%
  ); */
}

#home #hero .articles .panel .general-container {
  padding: 0 100px;
  z-index: 6;
}

#home #hero .articles .panel .featured {
  font-size: var(--body-s-font-size);
  text-transform: uppercase;
  color: var(--gdn-blue);
  font-weight: bold;

  padding: 2px 16px;
  border-radius: 16px;
  background-color: white;
  width: fit-content;
  margin: 0 0 24px;
}

#home #hero .articles .panel .title {
  font-family: "Tiempos Headline";
  width: 75%;
  margin: 0 0 24px;
  line-height: 110%;
}

#home #hero .articles .panel .date {
  color: #ffffffb2;
  text-transform: uppercase;

  margin: 0 0 8px;
}

#home #hero .articles .panel .desc {
  width: 60%;
  margin: 0 0 16px;
}

#home #hero .articles .panel .bylines {
  width: 50%;

  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 24px;
  row-gap: 8px;
  margin: 0 0 32px;
}

#home #hero .articles .panel .bylines .key {
  font-weight: bold;
}

#home #hero .articles .panel .bylines .value {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  color: #e4e4e4;
}

#home #hero .articles .panel .links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 32px;
}

#home #hero .articles .panel .links .view {
  color: white;
  text-decoration: none;
  font-size: var(--body-m-font-size);
  font-weight: bold;
  text-align: center;

  padding: 8px 80px;
  background-color: var(--dd-green);
  border-radius: 40px;

  transition: 0.3s;
}

#home #hero .articles .panel .links .view:hover {
  background-color: #1da265;
}

#home #hero .articles .panel .links .socials {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
}

#home #hero .buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  z-index: 6;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 8px;
}

#home #hero .buttons button.circle {
  width: 40px;
  height: 8px;
  border-radius: 4px;
  border: none;

  background-color: white;
  opacity: 0.5;
  transition: 0.3s;

  cursor: pointer;
}

#home #hero .buttons button.circle.active {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  #home #hero .articles .panel {
    padding: 100px 0 72px;
  }

  #home #hero .articles .panel .general-container {
    padding: 0 76px;
  }

  #home #hero .articles .panel .gradient-tint {
    background: linear-gradient(
      90deg,
      #001b43ff 10%,
      #0e2f628c 50%,
      #1c448000 90%
    );
  }
}

@media screen and (max-width: 992px) {
  #home #hero .articles .panel {
    padding: 100px 0 64px;
  }

  #home #hero .articles .panel .general-container {
    padding: 0 56px;
  }

  #home #hero .articles .panel .title {
    width: 80%;
  }

  #home #hero .articles .panel .desc {
    width: 60%;
  }

  #home #hero .articles .panel .bylines {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  #home #hero .articles .panel {
    padding: 100px 0 60px;
  }

  #home #hero .articles .panel .gradient-tint {
    background: linear-gradient(
      90deg,
      #001b43ff 10%,
      #0e2f628c 50%,
      #1c448000 90%
    );
  }

  #home #hero .articles .panel .general-container {
    padding: 0 36px;
  }

  #home #hero .articles .panel .title {
    width: 100%;
  }

  #home #hero .articles .panel .desc {
    width: 70%;
  }

  #home #hero .articles .panel .bylines {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  #home #hero {
    min-height: unset;
    height: 640px;
  }

  #home #hero .articles .panel {
    padding: 100px 0 56px;
    height: 640px;
  }

  #home #hero .articles .panel .gradient-tint {
    background: linear-gradient(
      0deg,
      #061a39ff 0%,
      #153a71a0 40%,
      #1c448000 100%
    );
    /* background: linear-gradient(180deg, #00000000 0%, #000000a0 100%); */
    /* background: linear-gradient(180deg, #1c448000 0%, #1c4480a0 100%); */
    /* background: linear-gradient(180deg, #1c448000 0%, #1c4480 100%); */
  }

  #home #hero .articles .panel .general-container {
    padding: 0 16px;
  }

  #home #hero .articles .panel .featured {
    margin: 0 0 16px;
  }

  #home #hero .articles .panel .title {
    margin: 0 0 12px;
    width: 100%;
  }

  #home #hero .articles .panel .desc {
    margin: 0 0 24px;
    width: 100%;

    display: -webkit-box;
    overflow: clip;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }

  #home #hero .articles .panel .bylines {
    display: none;
  }

  #home #hero .articles .panel .links {
    justify-content: space-between;
  }

  #home #hero .articles .panel .links .view {
    flex-grow: 1;
    max-width: 300px;
    padding: 4px 16px;
    font-size: var(--body-font-size);
  }
}
